*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --light-color: #F4F1EA;
    --grey-color: #708090;
    --dark-color: #2C2A29;
    --green-accent-color: #5F7A61;
    --orange-accent-color: #B87333;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    background-color: var(--light-color);
}

header, footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 20px;
    text-align: center;
}

main {
    padding: 50px;
    margin: 0 auto;
    max-width: 1200px;
}

article h1, article h2, h3{
    color: var(--dark-color);
    text-align: center;
}

.bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--dark-color);
    padding: 0%, 20%;
    margin-bottom: 20px;
    text-wrap: balance;
}

.introduction {
    flex: 1;
    justify-content: center;
}

.profilePic {
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    border: 5px solid var(--green-accent-color);
    max-width: 300px;
    gap: 20px;
}

.projects {
    flex: 1;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    width: 100%;
    gap: 20px;
}

.projectBox  {
    flex: 1;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.projectBox img {
    width: 100%;
    display: block;
}

.projectName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

hr.sectionDivider {
    border: 0;
    height: 2px;
    margin: 40px 0;
    background-image: linear-gradient(to right, transparent, #333, transparent);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact button {
    background-color: var(--green-accent-color);
    color: var(--light-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    object-position: center;
}